.cardText {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  -webkit-box-orient: vertical !important;
  line-height: 1.5em !important;
  height: 4.2em !important;
}

.card_active:hover {
  -webkit-box-shadow: 4px 4px 34px -9px rgba(50, 216, 40, 0.41);
  -moz-box-shadow: 4px 4px 34px -9px rgba(50, 216, 40, 0.41);
  box-shadow: 4px 4px 34px -9px rgba(50, 216, 40, 0.41);
  margin-bottom: 10px;
}
#deleteFav:hover {
  color: red;
}
